@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,200&family=Poppins:wght@400;500&family=Prompt:ital,wght@0,400;1,700&display=swap');


:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding--inline--section:20px;
}


body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 3rem;
}

h3{
    /* font-size: 1.5rem ; */
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    margin-top: 20px;
}

/*top banner*/


.top-banner{
    background-color: #e74694;
    margin: 0px;
    padding: 8.5px;
    text-align: center;
    font-size: 24px;
    color: white;
    background-image: url('assets/asset\ 32.png')
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding--inline--section);
}

.main-nav{
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.hover-link{
    color: var(--primary-text-color);
}

.hover-link:hover{
    color: var(--accent-color);
    transition: ;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700px;
    color: white!important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    
    font-weight: 700px;
    color: var(--primary-text-color)!important;
    padding: 12px;
    transition: 0.2s ease-out;
    border-radius: 6px;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color)!important;
}

.company-logo-button{
    position: relative;
    right: 4%;
}
.text{
    position: absolute;
    left: 25.5%;
    top: 11.5%;
}
.text:hover{
    cursor: pointer;
}

.section-2 img{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding--inline--section);
    width: 600px;
    height: 30%;
    float: right;
    display: flex;
    position: relative;
    margin-top: 7%;
}
.text-section{
    text-align: bottom;
}

.text-section h1{
    display: flex;
    position: relative;
    margin-top: 16%;
} 
.sub-text-section {
    color: var(--secondary-text-color);
    display: flex;
    position: relative;
    margin-top: 0%;
    font-size: 22px;
}

.get-started-button{
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid var(--secondary-text-color);
    background-color: var(--accent-color);
    width: 10%;
    padding: 9px 23px;
    border-radius: 6px;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    color: white;
    /* font-size: larger; */
    font-family: poppins;
}
.get-started-button:hover{
    background-color: var(--accent-color-dark);
}
.text-section-3 section{
    display: flex;
    position: relative;
    margin-left: 40px;

}

.companies-section{
    margin-top: 11%;
    text-align: center;
    font-size: 20px;
}

.logos img{
    width: 120px;
    margin: 20px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 7px;
}

.section-3{
    text-align: center;
    margin-top: 146px;
    margin-bottom: 30px;
    font-size: 37px;
    font-weight: 700px;
}
.button-secion-3{
    font-size: 20px;
    border: 0.5px solid var(--secondary-text-color);
    width: 204px;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
}

